name: Deploy to IPFS

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          
      - name: Install and Build
        run: |
          yarn install
          yarn build
        env:
          VITE_WEB_API_URL: ${{ vars.VITE_WEB_API_URL }} 

      - name: Upload to Pinata
        uses: aquiladev/ipfs-action@v0.3.1
        with:
          path: ./dist
          service: pinata
          pinataKey: ${{ secrets.PINATA_API_KEY }}
          pinataSecret: ${{ secrets.PINATA_SECRET_API_KEY }}
          pinName: cfp-funding-tool-ui
